@model IEnumerable<MessageBoard.Data.Topic>

@{
    ViewBag.Title = "Home Page";
}

@section Scripts {
<script src="~/js/app.js"></script>
<script src="~/js/home-index.js"></script>
}

<div ng-view=""></div>
