<div>

    <div class="message-header">
        <h1>Message Board</h1>
        <p class="lead">Latest Messages</p>
    
        <div>This is for {{ vm.name }}, he is great!</div>
        <div>The data count is {{vm.data.topics.length}}</div>
        <input type="text" ng-model="vm.name"/>

    </div>
    
    <div>
        
        <a href="#!/newmessage">Add a New Message</a>

    </div>
    
    <div class="progress progress-striped active" ng-show="isBusy == true">
        <div class ="bar" style="width: 100%;"></div>
    </div>

    <div class="messages">
        <div class="message row" ng-repeat="i in vm.data.topics">
            <div class="title span10">{{i.title}}</div>
            <div class="date span2">{{i.created | date: "medium"}}</div>
            <div class="contents span12">{{i.body}}</div>
            <div class="toolbar span12"><button class="btn btn-primary reply-button">Reply</button></div>
            <div class="replies span12">
                <div class="reply" ng-repeat = "r in i.replies">
                    <div class="created pull-right">{{r.created | date: "medium"}}</div>
                    <div class="content">{{r.body}}</div>
                </div>
            </div>
        </div>

    </div>

</div>